.affirm-payment-method.form-row {
	width: 90%;
	margin-bottom: 0;
}

.affirm-payment-method.form-row .field-wrapper{
	width: 100%;
}

.affirm-payment-method.form-row .field-wrapper .field-label{
	display: inline-block;
	vertical-align: top;
}

.affirm-payment-method.form-row .field-wrapper .field-label img{
	vertical-align: 53%;
	width: 4.5rem;
}

.affirm-as-low-as {
	height: 3.25rem;
	padding-bottom: 1rem;
}

#cart-items-form .affirm-as-low-as {
	float: right;
}

.affirm-promo-empty {
	padding-bottom: 3rem;
}

.js-countries_selectbox {
	width: 6.5rem; 
	position: absolute; 
	top: 0; 
	left: 13rem;
}